{% extends "base.html" %}

{% block content %}
<h1>Products</h1>
<ul>
{% for product in products %}
    <li>
        <h3>{{ product.name }}</h3>
        <p>Price: {{ product.price }}</p>
        <p>Inventory: {{ product.inventory }}</p>
        <form action="/add_to_cart/{{ product.id }}" method="post">
            <button type="submit">Add to Cart</button>
        </form>
    </li>
{% endfor %}
</ul>



{% if total_pages > 1 %}
<center>
<nav class="pagination">
  {% if current_page > 1 %}
    <a href="/products?page={{ current_page - 1 }}">Previous</a>
  {% endif %}

  {% for page_num in range(start=1, end=total_pages + 1) %}
    {% if page_num == current_page %}
      <span class="current">{{ page_num }}</span>
    {% else %}
      <a href="/products?page={{ page_num }}">{{ page_num }}</a>
    {% endif %}
  {% endfor %}

  {% if current_page < total_pages %}
    <a href="/products?page={{ current_page + 1 }}">Next</a>
  {% endif %}
</nav>
</center>
{% endif %}
<hr>
{% endblock %}
